<button id="pay-btn" style="
background:#8e24aa;
color:white;
font-size:20px;
padding:15px;
border:none;
border-radius:10px;
width:100%;
cursor:pointer;">
₹1 చెల్లించండి
</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ key_id }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "వేదిక్ ఆస్ట్రో సొల్యూషన్స్",
    "description": "జ్యోతిష్య నివేదిక",
    "order_id": "{{ order_id }}",

    "handler": function (response) {

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/results";

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "razorpay_payment_id";
        input.value = response.razorpay_payment_id;

        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    },

    "theme": {
        "color": "#6a0dad"
    }
};

var rzp = new Razorpay(options);

document.getElementById("pay-btn").onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>
